extends layout


block content

    h1 #[bold Location Creation Form]

    form(method='POST' action='/his/location/create')
        div.form-group
            label(for='name') Name:
            input#name.form-control(type='text', placeholder='Container, Back Room...' name='name' value=(undefined===location ? '' : location.name))
        button.btn.btn-primary(type='submit') create Location

    if errors
        ul
            for error in errors
                li!= error.msg